/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.deluxebg {
	-fx-background-image: url("/deluxePizza.png");
	background-color: red;
	background-repeat: no-repeat;
	background-size: 250px 157px;
}
.hawbg {
	-fx-background-image: url("/hawaiianPizza.png");
	background-color: red;
	background-repeat: no-repeat;
	background-size: 250px 157px;
}
.pepbg {
	-fx-background-image: url("/pepperoniPizza.png");
	background-color: red;
	background-repeat: no-repeat;
	background-size: 250px 157px;
}
.store {
	-fx-background-image: url("/store.jpg");
	background-color: red;
	background-repeat: no-repeat;
	background-size: 150px 100px;
}
.current {
	-fx-background-image: url("/current.jpg");
	background-color: red;
	background-repeat: no-repeat;
	background-size: 150px 100px;
}

